In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

data = pd.read_csv('train2.csv', delimiter=';')
data = data[['Age','Daily_Usage_Time (minutes)','Posts_Per_Day']]
data = data.dropna()
X = data.drop(columns=['Posts_Per_Day'])
y = data['Posts_Per_Day']
model = DecisionTreeClassifier()
model.fit(X, y)
predicts = model.predict([[120,23],[90,19]])
predicts

array([1., 1.])

In [20]:
X

     Age  Daily_Usage_Time (minutes)
0     25                       120.0
1     30                        90.0
2     22                        60.0
3     28                       200.0
4     33                        45.0
...   ..                         ...
996   33                        85.0
997   22                        70.0
998   35                       110.0
999   28                        60.0
1000  27                       120.0

[1000 rows x 2 columns]

In [14]:
y

0       3.0
1       5.0
2       2.0
3       8.0
4       1.0
       ...
996     4.0
997     1.0
998     3.0
999     2.0
1000    4.0
Name: Posts_Per_Day, Length: 1000, dtype: float64

In [22]:
data

     User_ID;Age;Gender;Platform;Daily_Usage_Time (minutes);Posts_Per_Day;Likes_Received_Per_Day;Comments_Received_Per_Day;Messages_Sent_Per_Day;Dominant_Emotion
0                                             ;;;;;;;;;
1        1;25;Female;Instagram;120;3;45;10;12;Happiness
2                                             ;;;;;;;;;
3                 2;30;Male;Twitter;90;5;20;25;30;Anger
4                                             ;;;;;;;;;
...                                                 ...
1999      998;35;Male;Whatsapp;110;3;50;25;25;Happiness
2000                                          ;;;;;;;;;
2001      999;28;Non-binary;Telegram;60;2;18;8;18;Anger
2002                                          ;;;;;;;;;
2003     1000;27;Female;Snapchat;120;4;40;18;22;Neutral

[2004 rows x 1 columns]